<app-topbar></app-topbar>

<div
  *ngIf="boardService.board() as board"
  class="board"
>
  <div class="board-header-container">
    <app-inline-form
      *ngIf="boardService.board() as board"
      class="edit-board-form"
      [defaultText]="board.title"
      [title]="board.title"
      (handleSubmit)="updateBoardName($event)"
    ></app-inline-form>
    <div
      class="delete-board"
      (click)="deleteBoard()"
    >Delete board</div>
  </div>
  <div class="columns">
    @for(column of boardService.columns(); track column.id) {
      <div class="column">

        <div class="column-title">
          <app-inline-form
            class="inline-form-container-editing"
            [defaultText]="column.title"
            [title]="column.title"
            (handleSubmit)="updateColumn($event, column.id)"
          ></app-inline-form>
          <img
            src="/assets/close_icon.svg"
            class="column-delete-icon"
            alt="close"
            (click)="deleteColumn(column.id)"
          >
        </div>
        <div class="column-delete-icon"></div>
<!--        <div class="column-title">{{column.title}}</div>-->
        @for(task of getTasksByColumn(column.id, boardService.tasks()); track task.id) {
          <div class="task">
            {{task.title}}
          </div>
        }
        <app-inline-form
          class="create-task-form"
          defaultText="Add a card"
          [hasButton]="true"
          buttonText="Add card"
          inputPlaceholder="Enter a title for this card"
          (handleSubmit)="createTask($event, column.id)"
        ></app-inline-form>
      </div>
    }
    <app-inline-form
      class="create-column-form"
      defaultText="Add a list"
      [hasButton]="true"
      buttonText="Add list"
      inputPlaceholder="Add column name"
      (handleSubmit)="createColumn($event)"
    ></app-inline-form>
  </div>
</div>
