<div
  class="inline-form-container"
  [ngClass]="{'inline-form-container-editing': isEditing}"
  (click)="activateEditing()"
>
  <div
    *ngIf="!isEditing"
    class="inline-form-text"
  >{{ defaultText }}</div>
  <form
    *ngIf="isEditing"
    class="inline-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <input
      *ngIf="inputType === 'input'"
      formControlName="title"
      type="text"
      class="inline-form-input"
      [placeholder]="inputPlaceholder"
    />
    <textarea
      *ngIf="inputType === 'textarea'"
      formControlName="title"
      class="inline-form-input"
    ></textarea>
    <button *ngIf="hasButton" type="submit" [disabled]="form.invalid">
      {{ buttonText }}
    </button>
  </form>
</div>
